* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Barlow', serif;
  background-color: #fff;
  /*   max-width: 1400px;
  margin-inline: auto; */
}

.header {
  background-image: url(../assets/img/mobile/image-header.jpg);
  background-size: cover;
  height: 538px;
}

@media screen and (width > 768px) {
  .header {
    background-image: url(../assets/img/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
}

.container-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px 0;
  margin: 0;
}

@media screen and (width > 768px) {
  .container-icon {
    padding: 34px 40px 0;
  }
}

.icon-menu {
  opacity: 0.5;
  right: 24px;
}

@media screen and (width > 768px) {
  .icon-menu {
    display: none;
  }
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
}

@media screen and (width > 768px) {
  .container-title {
    margin-top: 105px;
  }
}

.introduction-title {
  margin: 0;
  color: #fff;
  text-align: center;
  letter-spacing: 6.25px;
  margin-bottom: 65px;
}

@media screen and (width > 768px) {
  .introduction-title {
    font-size: 56px;
    font-family: 'Fraunces', serif;
    letter-spacing: 8.75px;
    margin-bottom: 190px;
  }
}

.menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #fff;
  width: 329px;
  height: 329px;
  top: 106px;
  left: 22px;
  color: #808397;
  font-weight: 600;
  translate: 0 -135%;
  transition: translate 0.3s;
}

.menu-show {
  translate: 0;
}

@media screen and (width > 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    translate: 0;
    background-color: inherit;
    width: 467px;
    height: 20px;
    padding: 0;
    left: 65%;
    top: 34px;
    color: #fff;
  }
}

.contact-yellow {
  width: 140px;
  height: 56px;
  border-radius: 28px;
  background-color: #fbd600;
  cursor: pointer;
}

@media screen and (width > 768px) {
  .contact-yellow {
    background-color: #fff;
    transition: scale 0.3s;
  }

  .contact-yellow:hover {
    scale: 0.8;
    color: #24303e;
  }
}

.contact {
  color: black;
  padding-top: 16px;
}

/* header terminado */

.container {
  display: grid;
}

@media screen and (width > 768px) {
  .container {
    grid-column: repeat (2 720);
  }
}

@media screen and (width > 768px) {
  .box-1 {
    grid-column: 2/2;
  }
}

.box-2 {
  height: 437px;
}

@media screen and (width > 768px) {
  .box-2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.box-2-text {
  left: 50px;
  top: 390px;
}

.position-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 327px;
  height: 309px;
  text-align: center;
  margin-top: 64px;
  margin-left: 24px;
}

.subtitle {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}

.information {
  font-weight: 600;
  font-size: 18px;
  color: #808397;
  line-height: 30px;
  letter-spacing: -0.11px;
}

.pag-link {
  position: relative;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  line-height: 25px;
  margin-top: 32px;
}

.pag-link::after {
  content: '';
  position: absolute;
  width: 137px;
  height: 10px;
  background-color: #fad400;
  border-radius: 28px;
  bottom: 2px;
  left: -15px;
  opacity: 0.5;
}

.box-4 {
  height: 437px;
}

.pag-link-color::after {
  background-color: #fe7766;
}

.box-5 {
  height: 600px;
  color: #24554a;
}

.box-5-text {
  position: relative;
  bottom: 220px;
  height: 143px;
  margin-top: 0;
}

.subtitle-size {
  font-size: 28px;
  margin: 0;
}

.information-color-cherry {
  color: #24554a;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px;
  margin-top: 27px;
}

.box-6 {
  height: 600px;
}

.box-6-text {
  position: relative;
  bottom: 190px;
  height: 143px;
  margin-top: 0;
}

.subtitle-size {
  font-size: 28px;
  margin: 0;
}

.subtitle-color-orange {
  color: #19536c;
}

.information-color-orange {
  color: #19536c;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px;
}
