* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Barlow', serif;
  background-color: #fff;
  /*   max-width: 1400px;
  margin-inline: auto; */
}

/* isolation: isolate */
/* @media (hover: hover){
  .social-icon:hover {
    filter: brightness(100); //100 brillo blanco y 0 en negro
  }
} */

.header {
  background-image: url(../assets/img/mobile/image-header.jpg);
  background-size: cover;
  height: 538px;
}

@media screen and (width > 768px) {
  .header {
    background-image: url(../assets/img/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
  }
}

.container-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px 0;
  margin: 0;
}

@media screen and (width > 768px) {
  .container-icon {
    padding: 34px 40px 0;
  }
}

.icon-menu {
  opacity: 0.5;
  right: 24px;
}

@media screen and (width > 768px) {
  .icon-menu {
    display: none;
  }
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
}

@media screen and (width > 768px) {
  .container-title {
    margin-top: 105px;
  }
}

.introduction-title {
  margin: 0;
  color: #fff;
  text-align: center;
  letter-spacing: 6.25px;
  margin-bottom: 65px;
}

@media screen and (width > 768px) {
  .introduction-title {
    font-size: 56px;
    font-family: 'Fraunces', serif;
    letter-spacing: 8.75px;
    margin-bottom: 190px;
  }
}

.menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #fff;
  width: 329px;
  height: 329px;
  top: 106px;
  left: 22px;
  color: #808397;
  font-weight: 600;
  translate: 0 -135%;
  transition: translate 0.3s;
}
/* overflow:hidden  sirve para ocultar lo que se desborda*/

.menu-show {
  translate: 0;
}

.menu::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -24px;
  right: 0;
  background-color: red;
  border-top: 0 transparent;
  border-left: 0 transparent;
}

@media screen and (width > 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    translate: 0;
    background-color: inherit;
    width: 467px;
    height: 20px;
    padding: 0;
    left: 65%;
    top: 34px;
    color: #fff;
  }
}

.contact-yellow {
  width: 140px;
  height: 56px;
  border-radius: 28px;
  background-color: #fbd600;
  cursor: pointer;
}

@media screen and (width > 768px) {
  .contact-yellow {
    background-color: #fff;
    transition: scale 0.3s;
  }

  .contact-yellow:hover {
    scale: 0.8;
    color: #24303e;
  }
}

.contact {
  color: black;
  padding-top: 16px;
}

/* header terminado */

.container {
  display: grid;
}

@media screen and (width > 768px) {
  .container {
    grid-template-columns: repeat (2 720);
  }
}

.photo-egg {
  background-image: url(../assets/img/mobile/image-transform.jpg);
  background-size: cover;
  height: 312px;
}
@media screen and (width > 768px) {
  .photo-egg {
    background-image: url(../assets/img/desktop/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
  }
}
@media screen and (width > 768px) {
  .box-1 {
    grid-column: 2/2;
    grid-row: 1/2;
  }
}

.box-2 {
  height: 437px;
}

@media screen and (width > 768px) {
  .box-2 {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 600px;
  }
}

.position-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 327px;
  height: 309px;
  text-align: center;
  margin-top: 64px;
  margin-left: 24px;
}

@media screen and (width > 768px) {
  .position-article {
    width: 445px;
    height: 285px;
    margin: 0;
    margin-top: 158px;
    margin-left: 130px;
    text-align: left;
  }
}

.box-2-text {
  left: 50px;
  top: 390px;
}

.subtitle {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}

@media screen and (width > 768px) {
  .subtitle {
    letter-spacing: -0.29px;
    font-size: 40px;
  }
}

.information {
  font-weight: 600;
  font-size: 18px;
  color: #808397;
  line-height: 30px;
  letter-spacing: -0.11px;
}

@media screen and (width > 768px) {
  .information {
    line-height: 30px;
    letter-spacing: -0.13px;
  }
}

.pag-link {
  position: relative;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  line-height: 25px;
  margin-top: 32px;
}

@media screen and (width > 768px) {
  .pag-link {
    right: 160px;
  }
}

.pag-link::after {
  content: '';
  position: absolute;
  width: 137px;
  height: 10px;
  background-color: #fad400;
  border-radius: 28px;
  bottom: 2px;
  left: -15px;
  opacity: 0.5;
  z-index: -1;
}

.box-3 {
  background-image: url(../assets/img/mobile/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 312px;
}

@media screen and (width > 768px) {
  .box-3 {
    background-image: url(../assets/img/desktop/image-stand-out.jpg);
    height: 600px;
  }
}

.box-4 {
  height: 437px;
}

.pag-link-color::after {
  background-color: #fe7766;
}

.box-5 {
  height: 600px;
  color: #24554a;
}

.photo-cherry {
  background-image: url(../assets/img/mobile/image-graphic-design.jpg);
  background-size: cover;
  height: 600px;
}

@media screen and (width > 768px) {
  .photo-cherry {
    background-image: url(../assets/img/desktop/image-graphic-design.jpg);
    height: 600px;
  }
}

.box-5-text {
  position: relative;
  bottom: 220px;
  height: 143px;
  margin-top: 0;
}

.subtitle-size {
  font-size: 28px;
  margin: 0;
}

.information-color-cherry {
  color: #24554a;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px;
  margin-top: 27px;
}

.box-6 {
  height: 600px;
}

.photo-orange {
  background-image: url(../assets/img/mobile/image-photography.jpg);
  background-size: cover;
  height: 600px;
}

@media screen and (width > 768px) {
  .photo-orange {
    background-image: url(../assets/img/desktop/image-photography.jpg);
    height: 600px;
  }
}

.box-6-text {
  position: relative;
  bottom: 190px;
  height: 143px;
  margin-top: 0;
}

.subtitle-size {
  font-size: 28px;
  margin: 0;
}

.subtitle-color-orange {
  color: #19536c;
}

.information-color-orange {
  color: #19536c;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px;
}

/* Client testimonials */

.client-text {
  font-size: 16px;
  font-weight: 900;
  margin: 0;
  color: #a7aaad;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 64px;
}

@media screen and (width >768px) {
  .client-text {
    margin-top: 160px;
  }
}

.client-testimonials {
  height: 1112px;
  margin-top: 64px;
  margin-left: 24px;
  margin-right: 24px;
}

@media screen and (width >768px) {
  .client-testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 777px;
    margin: 0;
    margin-left: 166px;
    margin-right: 166px;
  }
}

.text-color {
  margin: 0;
  text-align: center;
  font-size: 18px;
  color: #5b636d;
  letter-spacing: -0.13px;
  line-height: 32px;
  font-weight: 600;
}

.color-name {
  color: #24303e;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 18px;
}

.color-profession {
  font-weight: 600;
  color: #a7aaad;
  font-size: 14px;
}

.client-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 288px;
}

.photo-1 {
  background-image: url(../assets/img/image-emily.jpg);
  background-size: cover;
  background-position: center;
  width: 72px;
  height: 72px;
  border-radius: 100%;
}

.client-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 322px;
  margin-top: 64px;
}

@media screen and (width >768px) {
  .client-2 {
    margin: 0;
  }
}

.photo-2 {
  background-image: url(../assets/img/image-thomas.jpg);
  background-size: cover;
  width: 72px;
  height: 72px;
  border-radius: 100%;
}

.client-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 288px;
  margin-top: 64px;
  margin-bottom: 86px;
}

@media screen and (width >768px) {
  .client-3 {
    margin: 0;
  }
}

.photo-3 {
  background-image: url(../assets/img/image-jennie.jpg);
  background-size: cover;
  width: 72px;
  height: 72px;
  border-radius: 100%;
}

/* grid imagenes */

.grid-class {
  display: grid;
  grid-template-columns: repeat(2, 188);
  height: 375px;
}

@media screen and (width >768px) {
  .grid-class {
    grid-template-columns: repeat(4, 360);
    height: 447px;
  }
}

.photo-web-1 {
  background-image: url(../assets/img/mobile/image-gallery-milkbottles.jpg);
  background-size: cover;
  grid-column: 1/2;
}

@media screen and (width >768px) {
  .photo-web-1 {
    background-image: url(../assets/img/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    height: 447px;
    grid-column: 1/1;
  }
}

.photo-web-2 {
  background-image: url(../assets/img/mobile/image-gallery-orange.jpg);
  background-size: cover;
  grid-column: 2/2;
}

@media screen and (width >768px) {
  .photo-web-2 {
    background-image: url(../assets/img/desktop/image-gallery-orange.jpg);
    background-size: cover;
    height: 447px;
    grid-column: 2/2;
  }
}

.photo-web-3 {
  background-image: url(../assets/img/mobile/image-gallery-cone.jpg);
  background-size: cover;
}

@media screen and (width >768px) {
  .photo-web-3 {
    background-image: url(../assets/img/desktop/image-gallery-cone.jpg);
    background-size: cover;
    height: 447px;
    grid-column: 3/4;
  }
}
.photo-web-4 {
  background-image: url(../assets/img/mobile/image-gallery-sugar-cubes.jpg);
  background-size: cover;
}

@media screen and (width >768px) {
  .photo-web-4 {
    background-image: url(../assets/img/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    height: 447px;
    grid-column: 4/4;
  }
}

/* footer */

.content-footer {
  background-color: #90d4c6;
  height: 350px;
}

@media screen and (width > 768px) {
  .content-footer {
    height: 350px;
  }
}

/* .footer-box{
  width: 297px;
  height: 206px;
  margin-top: 64px;
  margin-left: 39px;
} */

.footer-logo-links {
  position: relative;
  margin: 0;
  font-weight: 900;
  color: #2c7566;
  width: 170px;
  height: 33px;
  font-size: 40px;
  top: 64px;
  left: 96px;
}

@media screen and (width > 768px) {
  .footer-logo-links {
    top: 72px;
    left: 628px;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 137px;
}

@media screen and (width > 768px) {
  .footer-links {
    width: 300px;
    height: 25px;
    align-items: center;
    margin-left: 570px;
  }
}

.footer-help {
  color: #458d7e;
  font-size: 18px;
  letter-spacing: -0.13px;
  line-height: 25px;
  font-weight: 600;
  cursor: pointer;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 88px;
  margin-left: 104px;
  width: 164px;
  height: 20px;
}

@media screen and (width > 768px) {
  .footer-logo {
    margin-left: 636px;
  }
}

.logo-1 {
  background-image: url(../assets/img/icon-facebook.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.logo-2 {
  background-image: url(../assets/img/icon-instagram.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.logo-3 {
  background-image: url(../assets/img/icon-twitter.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.logo-4 {
  background-image: url(../assets/img/icon-pinterest.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
